<section class="price-two-area pb-96">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-xxl-7 col-lg-8">
                <div class="section-title text-center text-lg-start title-anim">
                    <span>{{ 'home.pricing.text_1' | translate }}</span>
                    <h2>{{ 'home.pricing.text_2' | translate }}</h2>
                </div>
            </div>
            <div class="col-xxl-5 col-lg-4 mobt-24">
                <div class="d-flex justify-content-lg-end justify-content-center">
                    <!-- <div class="section-title text-center">
                        <span>Devise</span>
                    </div> -->
                    <ul class="nav nav-pills price-tab-btn" id="pills-tab" role="tablist">
                        <li class="nav-item btw" role="presentation">
                          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="_orderService.changeCure('XAF')">XAF</button>
                        </li>
                        <li class="nav-item btw" role="presentation">
                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="_orderService.changeCure('EUR')">EUR</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="_orderService.changeCure('USD')">USD</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-60 justify-content-center">
            <div *ngFor="let pack of _orderService.packs" class=" col-lg-4 col-md-6 fade_left">
                <div *ngIf="pack.id != '3'" class="price-two-box bg-color-of-white overflow-hidden">
                    <div class="price-two-tag text-center" [style.background-color]="pack.color">
                        <abbr>{{ pack.name | translate }}</abbr>
                        <h2>{{ _orderService.calcPrice(pack.price) }} <sub>{{ 'home.pricing.text_3' | translate }}</sub></h2>
                    </div>
                    <div class="price-two-desc">
                        <h5>{{ pack.description | translate }}</h5>
                        <ul>
                            <li *ngFor="let service of pack.services">
                                <i class="fa-solid fa-check text-primary"></i>
                                {{ (_orderService.serviceCall(service).qty > 1) ? ""+(_orderService.serviceCall(service).qty+"X"+(_orderService.serviceCall(service).name | translate)): (_orderService.serviceCall(service).name | translate) }}
                            </li>
                        </ul>
                        <div class="price-two-btn text-center">
                            <a class="common-btn orange-border" (click)="submit(pack)">
                                <span>
                                  {{ 'home.pricing.text_4' | translate }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="pack.id == '3'" class="price-two-box bg-color-of-white overflow-hidden">
                    <div class="price-two-tag text-center" [style.background-color]="pack.color">
                        <abbr>{{pack.name | translate}}</abbr>
                        <h2>{{ _orderService.totalPackPrice(pack.services) }} <sub>{{ 'home.pricing.text_3' | translate }}</sub></h2>
                    </div>
                    <div class="price-two-desc">
                        <h5>{{pack.description | translate}}</h5>
                        <ul>
                            <li *ngFor="let service of pack.services" (click)="_orderService.selection(service)">
                                <i *ngIf="!service.selected" class="fa-solid fa-xmark text-danger"></i>
                                <i *ngIf="service.selected" class="fa-solid fa-check text-primary"></i>
                                {{ (_orderService.serviceCall(service)).name| translate }}
                            </li>
                        </ul>
                        <div class="price-two-btn text-center">
                            <a class="common-btn orange-border" (click)="submit(pack)">
                                <span>
                                  {{ 'home.pricing.text_5' | translate }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>