<section class="done-project-area pt-120 pb-96">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="section-title-two text-center title-anim">
					<h2><span>Complete</span> Projects</h2>
				</div>
			</div>
		</div>
		<div class="row mt-60">
			<div class="col-lg-12 ps-lg-0 pe-lg-0">
				<div class="swiper done-project-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="done-project-box text-center position-relative">
								<img class="w-100" src="{{'assets/images/project/done-project-1.png'}}" alt="">
								<h4>Mistakes To Avoid</h4>
								<a class="position-absolute w-100 h-100 top-0 start-0"
									href="project-details.html"></a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="done-project-box text-center position-relative">
								<img class="w-100" src="{{'assets/images/project/done-project-2.png'}}" alt="">
								<h4>Knew About Fonts</h4>
								<a class="position-absolute w-100 h-100 top-0 start-0"
									href="project-details.html"></a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="done-project-box text-center position-relative">
								<img class="w-100" src="{{'assets/images/project/done-project-3.png'}}" alt="">
								<h4>Your Startup</h4>
								<a class="position-absolute w-100 h-100 top-0 start-0"
									href="project-details.html"></a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="done-project-box text-center position-relative">
								<img class="w-100" src="{{'assets/images/project/done-project-2.png'}}" alt="">
								<h4>Mistakes To Avoid</h4>
								<a class="position-absolute w-100 h-100 top-0 start-0" href="project-details.html"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>