<section class="about-area pt-120">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6 col-xl-6 order-1 order-lg-0 mobt-35">
				<div class="section-title">
					<span>about us</span>
					<h2>Votre succès, notre obsession.</h2>
					<p>
						Nous mettons à votre disposition des <a href="#service">services</a> haut de gamme et vous 
						garantissons le succès en vous accompagnant tout au long de la concrétisation de vos objectifs tout en procédant comme suit :
					</p>
				</div>
				<div class="check-list mt-4">
					<div class="d-flex align-items-center">
						<div class="listing-box-icon-wrap2 text-light mr-5">
							<i class="fa-regular fa-check"></i>
						</div>
						<p class="listing-box-subtitle">Une analyse approfondie de votre demande.</p>
					</div>
					<div class="d-flex align-items-center">
						<div class="listing-box-icon-wrap2 text-light mr-5">
							<i class="fa-regular fa-check"></i>
						</div>
						<p class="listing-box-subtitle">Des suggestions visant à améliorer les résultats de vos attentes.</p>
					</div>
					<div class="d-flex align-items-center">
						<div class="listing-box-icon-wrap2 text-light mr-5">
							<i class="fa-regular fa-check"></i>
						</div>
						<p class="listing-box-subtitle">Des réalisations de haute qualité grâce au professionnalisme de notre équipe hautement qualifiée.</p>
					</div>
					<div class="d-flex align-items-center">
						<div class="listing-box-icon-wrap2 text-light mr-5">
							<i class="fa-regular fa-check"></i>
						</div>
						<p class="listing-box-subtitle">Un suivi basé sur la construction d'une relation professionnelle solide.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-5 order-0 order-lg-1 d-none d-md-block">
				<div class="position-relative z-index-one about-img-wrap-one">
					<img class="w-100" src="{{'assets/images/about-s.png'}}" alt="">
					<img class="position-absolute z-index-minus-one top-0 end-0 about-top-one" src="{{'assets/images/shape/about-top-1.svg'}}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>