<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container breakpoint="md">
      <c-row class="justify-content-center">
        <c-col md="5" xl="4">
          <c-card>
            <c-card-body class="p-4">
              <form cForm [formGroup]="form" (ngSubmit)="submit()">
                <h1 class="text-center" [routerLink]="['/']">
                  <img class="logo" src="../../../../assets/images/logo-light.svg" alt="{{'signIn' | translate}}">
                </h1>
                <p class="text-body-secondary text-center">Sign Up for free</p>
                <div class="form-group mb-3">
                  <div class="form-floating-custom">
                    <input type="text" formControlName="firstName" class="form-control" id="firstname" placeholder=""
                    [ngClass]="{
                        'is-invalid': form.get('firstName')?.invalid && (submitted || form.get('firstName')?.touched), 'invalid-input': form.get('firstName')?.invalid && (submitted || form.get('firstName')?.touched), 'valid-input': form.get('firstName')?.valid,
                        'initial-input': form.get('firstName')?.errors?.['required']
                      }"
                  />
                    <label for="firstname">firstName</label>
                  </div>
                  <div
                    *ngIf="
                      form.get('firstName')?.invalid &&
                      (submitted || form.get('firstName')?.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="form.get('firstName')?.errors?.['required']">
                      {{ 'form.validator.firstNameRequired' | translate }}
                    </div>
                  </div>
                  <p
                    [translate]="'form.validator.firstNameMinLength'" [translateParams]="{ minLength: firstNameMinLength}"
                    class="invalid-feedback"
                    *ngIf="form.get('firstName')?.touched && form.get('firstName')?.errors?.['minlength']"
                  >
                  </p>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating-custom">
                    <input type="text" formControlName="lastName" class="form-control" id="lastname" placeholder=""
                    [ngClass]="{
                        'is-invalid': form.get('lastName')?.invalid && (submitted || form.get('lastName')?.touched), 'invalid-input': form.get('lastName')?.invalid && (submitted || form.get('lastName')?.touched), 'valid-input': form.get('lastName')?.valid,
                        'initial-input': form.get('lastName')?.errors?.['required']
                      }"
                  />
                    <label for="lastname">lastName</label>
                  </div>
                  <div
                    *ngIf="
                      form.get('lastName')?.invalid &&
                      (submitted || form.get('lastName')?.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="form.get('lastName')?.errors?.['required']">
                      {{ 'form.validator.lastNameRequired' | translate }}
                    </div>
                  </div>
                  <p
                    [translate]="'form.validator.lastNameMinLength'" [translateParams]="{ minLength: lastNameMinLength}"
                    class="invalid-feedback"
                    *ngIf="form.get('lastName')?.touched && form.get('lastName')?.errors?.['minlength']"
                  >
                  </p>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating-custom">
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder=""
                      [ngClass]="{
                        'is-invalid': form.get('email')?.invalid && (submitted || form.get('email')?.touched), 'invalid-input': form.get('email')?.invalid && (submitted || form.get('email')?.touched), 'valid-input': form.get('email')?.valid,
                        'initial-input': form.get('email')?.errors?.['required']
                      }"
                      (change)="emailChanged()"
                    />
                    <label for="email">Email address</label>
                  </div>
                  <div
                    *ngIf="
                      form.get('email')?.invalid &&
                      (submitted || form.get('email')?.touched || form.get('email')?.errors?.['used'])
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="form.get('email')?.errors?.['required']">
                      {{ 'form.validator.emailRequired' | translate }}
                    </div>
                    <div *ngIf="form.get('email')?.errors?.['email'] ">
                      {{ 'form.validator.emailInvalid' | translate }}
                    </div>
                    <div *ngIf="form.get('email')?.errors?.['used']">
                      {{ 'form.validator.emailAlreadyUsed' | translate }}
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating-custom">
                    <input type="text" formControlName="phoneNumber" class="form-control" id="phonenumber"
                      [ngClass]="{
                        'is-invalid': form.get('phoneNumber')?.invalid && (submitted || form.get('phoneNumber')?.touched), 'invalid-input': form.get('phoneNumber')?.invalid && (submitted || form.get('phoneNumber')?.touched), 'valid-input': form.get('phoneNumber')?.valid,
                        'initial-input': form.get('phoneNumber')?.errors?.['required']
                      }"
                    />
                    <label for="phonenumber">phoneNumber</label>
                  </div>
                  <div
                    *ngIf="
                      form.get('phoneNumber')?.invalid &&
                      (submitted || form.get('phoneNumber')?.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="form.get('phoneNumber')?.errors?.['required']">
                      {{ 'form.validator.phoneNumberRequired' | translate }}
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating-custom input-group">
                    <input class="form-control" formControlName="password" [type]="passwordFunctions.hashedPassword ? 'password' : 'text'" id="password" placeholder=""
                      [ngClass]="{
                        'is-invalid': form.get('password')?.invalid && (submitted || form.get('password')?.touched), 'invalid-input': form.get('password')?.invalid && (submitted || form.get('password')?.touched), 'valid-input': form.get('password')?.valid,
                        'initial-input': form.get('password')?.errors?.['required']
                      }"
                    />
                    <label for="password">Password</label>
                  </div>
                  <div
                    *ngIf="
                      form.get('password')?.invalid &&
                      (submitted || form.get('password')?.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="form.get('password')?.errors?.['required']">
                      {{ 'form.validator.passwordRequired' | translate }}
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['minlength']">
                      <p [translate]="'form.validator.passwordMinLength'" [translateParams]="{ minLength: passwordHeleper.pwdMinLength}"></p>
        
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['pattern'] && !form.get('password')?.errors?.['minlength']">
                      {{ 'form.validator.passwordInvalid' | translate }}
                    </div>
                  </div>
                </div>
                <password-validator-template [form]="form" 
                  *ngIf="!form.get('password')?.errors?.['required'] && form.get('password')?.invalid"
                ></password-validator-template>
                <div class="form-group mb-3">
                  <div class="form-floating-custom input-group">
                    <input class="form-control" formControlName="passwordConfirm" [type]="passwordFunctions.hashedPassword ? 'password' : 'text'" id="passwordcomfirm" placeholder=""
                      [ngClass]="{
                        'is-invalid':
                          (submitted || form.get('passwordConfirm')?.touched) &&
                          form.get('passwordConfirm')?.invalid
                      }"
                    />
                    <label for="passwordcomfirm">Password Confirm</label>
                    <span
                      class="input-group-text"
                      id="togglePassword"
                      (click)="passwordFunctions.togglePasswordVisibility()"
                    >
                      <i
                        class="fas toggle-password"
                        [ngClass]="
                          passwordFunctions.hashedPassword ? 'fa-eye-slash' : 'fa-eye'
                        "
                      ></i>
                    </span>
                  </div>
                  <div
                    *ngIf="
                      (submitted || form.get('passwordcomfirm')?.touched) &&
                      form.get('passwordcomfirm')?.invalid
                    "
                  >
                    <div
                      *ngIf="form.get('passwordcomfirm')?.errors?.['notEquivalent']"
                      class="invalid-feedback"
                    >
                    {{ 'form.validator.passwordConfirmNoMatch' | translate }}
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="check-group d-flex">
                    <input
                      type="checkbox"
                      formControlName="agreeTems"
                      id="agreeTems"
                      class="custom-select"
                    />
                    <label id="label" class="custom-checkbox" for="agreeTems">{{ "form.agreeTems" | translate  }}</label>
                  </div>
                  <div
                    *ngIf="submitted && form.get('agreeTems')?.invalid"
                    class="invalid-feedback"
                  >
                    {{ 'form.validator.agreeTemsRequired' | translate }}
                  </div>
                </div>
                <div class="form-group mb-3 d-flex justify-content-center w-100">
                  <ngx-recaptcha2 #captchaElem
                    [siteKey]="recaptchaService.siteKey"
                    [useGlobalDomain]="false"
                    formControlName="recaptcha">
                  </ngx-recaptcha2>
                </div>
                <div class="col-12">
                    <app-http-response-status></app-http-response-status>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <button *ngIf="!fetching" type="submit" cButton class="w-100 px-4" color="primary">
                    SignUp
                  </button>
                  <button class="w-100" *ngIf="fetching" class="btn btn-primary w-100" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                      {{ 'form.text_8' | translate }}
                  </button>
                </div>
              </form>
            </c-card-body>
            <c-card-footer>
              <c-row class="text-center pt-3">
                  <p>Alredy registred ? <a [routerLink]="['/auth/login']">SignIn</a></p> 
              </c-row>
            </c-card-footer>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  