<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <table
          cTable
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          class="mb-0 border table table-bordered"
        >
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Total (FCFA)</th>
          <th scope="col" class="text-center">Phone Number</th>
          <th scope="col" class="text-center">Date</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @if(!loading) {
          @for(order of orders; track order.id) {
          <tr>
            <td>{{ order.author.firstname +' '+ order.author.lastname }}</td>
            <td class="text-center">{{ order.author.email }}</td>
            <td class="text-center">{{ _orderHelper.totalServicesPrice(order.items) }}</td>
            <td class="text-center">{{ order.author.phoneNumber }}</td>
            <td class="text-center">{{ order.date }}</td>
            <td class="text-center">
              <c-badge class="text-info">
                <a  [routerLink]="['/admin/order/',order.key]">
                  <i class="fa-regular fa-eye"></i>
                </a>
              </c-badge>
              <c-badge class="text-danger" (click)="openModal(confirmDeleteOrderTemplate, order.key)">
                  <i class="fa-regular fa-circle-xmark"></i>
              </c-badge>
            </td>
          </tr>
          <ng-template #confirmDeleteOrderTemplate>
            <order-delete-confirm-modal [orderKey]="order.key" [exitModal]="exitModal" />
          </ng-template>
          } @empty {
          <tr>
            <td class="text-center" colspan="6">
              Empty order list
            </td>
          </tr>
          }
        } @else {
          @for(skel of skeleton; track skel) {
          <tr>
            <td>
              <app-order-skeleton></app-order-skeleton>
            </td>
            <td>
              <app-order-skeleton></app-order-skeleton>
            </td>
            <td>
              <app-order-skeleton></app-order-skeleton>
            </td>
            <td>
              <app-order-skeleton></app-order-skeleton>
            </td>
            <td>
              <app-order-skeleton></app-order-skeleton>
            </td>
            <td>
              <app-order-skeleton></app-order-skeleton>
            </td>
          </tr>
          }
        }
        </tbody>
      </table>
    </c-row>
  </c-card-body>
</c-card>
  