<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">{{ 'Message.Details' | translate }}</h5>
    <button (click)="exitModal()" cButtonClose></button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <h5>{{ 'Message.customer' | translate }} </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>{{ 'Message.Name' | translate }} </strong>{{ message.author.name }}
        </li>
        <li class="list-group-item">
            <strong>{{ 'Message.Email' | translate }} </strong> {{ message.author.email }}
        </li>
        <li class="list-group-item">
            <strong>{{ 'Message.Phone' | translate }} </strong> {{ message.author.phoneNumber }}
        </li>
    </ul>
    <hr>
    <div>
        <h5>{{ 'Message.sujet' | translate }}</h5>
        {{ message.subject }}
    </div>
    <hr>
        <h5>{{ 'Message.message' | translate }}
        </h5>{{ message.body }}
    <div>
       
    </div>
</div>