<!-- Hero -->
<app-hero></app-hero>

<!-- Hero End -->


<!-- About -->

<app-about></app-about>

<!-- About End -->

<!-- Services -->

<app-services></app-services>

<!-- Services End -->

<!-- Team -->
<app-team></app-team>
<!-- Team End -->

<!-- History -->

<app-history></app-history>

<!-- History End -->

<!-- Price -->

<app-pricing></app-pricing>
<!-- Price End -->

<!-- Complete Project -->

<app-portfolio></app-portfolio>

<!-- Complete Project End -->

<!-- Testimonial -->

<app-testimonials></app-testimonials>

<!-- Testimonial End -->

<!-- Counter -->

<!-- <app-statistiques></app-statistiques> -->

<!-- Counter End -->

<!-- Blog -->

<!-- <app-blog></app-blog> -->

<!-- Blog End -->

			