<div class="my-3 custom-alert custom-badge">
  <b> {{ 'form.validator.pwdShouldMatch' | translate }} </b> <br>
  <ol class="pt-2">
    <li>
      <input type="checkbox" class="checkbox-inside">
      <i class="fa-solid fa-check fa-beat fa-xl custom-check" [ngClass]="{'toggle-visibility': !form.get('password')?.errors?.['required'] && !form.get('password')?.errors?.['minlength']}" ></i>
      <p [translate]="'form.validator.pwdMinLength'" [translateParams]="{ minLength: passwordHeleper.pwdMinLength}"></p>
    </li>
    <li>
      <input type="checkbox" class="checkbox-inside">
      <i class="fa-solid fa-check fa-beat fa-xl custom-check"  [ngClass]="{'toggle-visibility': passwordFunctions.uppercaseChar(form.get('password')?.value)}"></i>
      <p [translate]="'form.validator.pwdUpperCaseLength'" [translateParams]="{ minLength: upperCaseLength}"></p>
    </li>
    <li>
      <input type="checkbox" class="checkbox-inside">
      <i class="fa-solid fa-check fa-beat fa-xl custom-check" [ngClass]="{'toggle-visibility': passwordFunctions.numberChar(form.get('password')?.value)}" ></i>
      <p [translate]="'form.validator.pwdNumberLength'" [translateParams]="{ minLength: numberLength}"></p>
    </li>
    <li>
      <input type="checkbox" class="checkbox-inside">
      <i class="fa-solid fa-check fa-beat fa-xl custom-check" [ngClass]="{'toggle-visibility': passwordFunctions.specialChar(form.get('password')?.value)}" ></i>
      <p [translate]="'form.validator.pwdSpecialCharLength'" [translateParams]="{ minLength: specialCharLength}"></p>
    </li>
    <li>
      <input type="checkbox" class="checkbox-inside">
      <i class="fa-solid fa-check fa-beat fa-xl custom-check" [ngClass]="{'toggle-visibility': !form.get('password')?.errors?.['required'] && passwordsMatch()}" ></i>
      <p [translate]="'form.validator.pwdMatch'"></p>
    </li>
  </ol>
</div>