<section class="service-three-area  pt-120">
	<div class="container">
		<div class="row justify-content-between text-center">
			<div class="section-title text-anim">
				<span>{{ 'home.services.text_1' | translate }} </span>
				<h2>{{ 'home.services.text_2' | translate }}</h2>
			</div>
			<div class="row pt-5">
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/strategy-development.png'}}" alt="" width="50px">
						<h2>{{ 'home.services.text_3' | translate }}</h2>
						<p>{{ 'home.services.text_4' | translate }}</p>
					</div>
				</div>
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/coding.png'}}" alt="" width="50px">
						<h2>{{ 'home.services.text_5' | translate }}</h2>
						<p>{{ 'home.services.text_6' | translate }}</p>
					</div>
				</div>
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/designer.png'}}" alt="" width="50px">
						<h2>{{ 'home.services.text_7' | translate }}</h2>
						<p>{{ 'home.services.text_8' | translate }}</p>
					</div>
				</div>
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/analysis.png'}}" alt="" width="50px">
						<h2>{{ 'home.services.text_9' | translate }}</h2>
						<p>{{ 'home.services.text_10' | translate }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
