<section class="history-area pt-120 pb-120 overflow-hidden">
	<div class="container-fluid">
		<div class="row align-items-center gx-lg-5">
			<div class="col-lg-6 ps-lg-0 ">
				<div class="history-img-wrap">
					<img class="w-100 image-scale anim-left" src="{{'assets/images/history-img.png'}}" alt="">
				</div>
			</div>
			<div class="col-lg-6 pt-3 pt-md-0">
				<div class="history-info-wrap">
					<div class="section-title title-anim">
						<span>{{ 'history.text_1' | translate }}</span>
						<h2>{{ 'history.text_2' | translate }}</h2>
						<p>{{ 'history.text_3' | translate }}</p>
					</div>
					<div class="listing-box history-listing-box mt-4">
						<div class="fade_left">
							<div class="d-flex align-items-center">
								<div class="listing-box-icon-wrap2 text-light mr-5">
									<i class="fa-regular fa-lightbulb"></i>
								</div>
								<h2 class="listing-box-subtitle">{{ 'history.text_4' | translate }}</h2>
							</div>
						</div>
						<div class="listing-box-info">
							<p>{{ 'history.text_5' | translate }}</p>
						</div>
						<div class="pt-3 fade_left">
							<div class="d-flex align-items-center">
								<div class="listing-box-icon-wrap2 text-light mr-5">
									<i class="fa-regular fa-handshake"></i>
								</div>
								<h2 class="listing-box-subtitle">{{ 'history.text_6' | translate }}</h2>
							</div>
						</div>
						<div class="listing-box-info">
							<p>{{ 'history.text_7' | translate }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
