<section class="service-three-area pt-2">
	<div class="container">
		<div class="row justify-content-between text-center">
			<div class="section-title text-anim">
				<span>Pour vous </span>
				<h2>Nos offres de service</h2>
			</div>
			<div class="row pt-5">
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/strategy-development.png'}}" alt="" width="50px">
						<h2>E-Communication</h2>
						<p>Conception graphique, stratégie marketing, accompagnement personnalisé pour atteindre vos objectifs commerciaux.</p>
					</div>
				</div>
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/coding.png'}}" alt="" width="50px">
						<h2>Développement Web</h2>
						<p>Conception et réalisation de sites web et d'applications pour renforcer votre présence en ligne, adaptés à vos besoins spécifiques.</p>
					</div>
				</div>
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/designer.png'}}" alt="" width="50px">
						<h2>UI/UX Design</h2>
						<p>Profitez de notre offre complète d'identité graphique pour vous démarquer efficacement grâce à une image de marque distinctive.</p>
					</div>
				</div>
				<div class="col-md-3 fade_left">
					<div class="service-three-box">
						<img src="{{'assets/images/icon/analysis.png'}}" alt="" width="50px">
						<h2>Formations</h2>
						<p>Formations en développement logiciel et graphisme pour renforcer vos compétences et enrichir votre professionnalisme.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>