<section class="team-area bg-color-black pt-120 pb-96 position-relative z-index-one">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title section-title-white text-center title-anim">
					<span>Notre équipe</span>
					<h2>Notre équipe d'experts qualifiés</h2>
				</div>
			</div>
		</div>
		<div class="row mt-60">
			<swiper [config]="config">
				<ng-template swiperSlide>
					<div class="fade_left">
						<div class="team-wrap position-relative z-index-one overflow-hidden">
							<div class="team-img-wrap">
								<a href="team-details.html"><img class="w-100" src="{{'assets/images/team/team-img-1.png'}}" alt=""></a>
							</div>
							<div class="team-info text-center">
								<h2><a href="team-details.html">Paul Djemne</a></h2>
								<p>Designer graphique</p>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="fade_left">
						<div class="team-wrap position-relative z-index-one overflow-hidden">
							<div class="team-img-wrap">
								<a href="team-details.html"><img class="w-100" src="{{'assets/images/team/team-img-2.png'}}" alt=""></a>
							</div>
							<div class="team-info text-center">
								<h2><a href="team-details.html">Gilles Kemgoum</a></h2>
								<p>Développeur Fullstack</p>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="fade_left">
						<div class="team-wrap position-relative z-index-one overflow-hidden">
							<div class="team-img-wrap">
								<a href="team-details.html"><img class="w-100" src="{{'assets/images/team/team-img-3.png'}}" alt=""></a>
							</div>
							<div class="team-info text-center">
								<h2><a href="team-details.html">Corine Dongmo</a></h2>
								<p>Développeur Backend</p>
							</div>
						</div>
					</div>
				</ng-template>
			</swiper>
		</div>
	</div>
	<img class="position-absolute z-index-minus-one top-0 start-0 d-none d-md-block"
		src="{{'assets/images/shape/team-sp-top.png'}}" alt="">
	<img class="position-absolute z-index-minus-one bottom-0 end-0 d-none d-md-block"
		src="{{'assets/images/shape/team-sp-bottom.png'}}" alt="">
</section>