<div class="cursor d-none d-lg-block"></div>
<!-- Preloader -->
<div id="preloader">
	<div class="loader_line"></div>
</div>
<!-- Preloader End -->
<!-- back to to button start-->
<app-tap-to-top></app-tap-to-top>
<!-- back to to button end-->
<div id="smooth-wrapper" autoscroll="true">
	<!-- Header area -->
	<header>
		<!-- Menu -->
		<app-nav></app-nav>
		<!-- Menu end -->
	</header>
	<!-- Header area End -->
	<div id="smooth-content">
        <router-outlet></router-outlet>
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- Footer End -->
	</div>
</div>