<div class="menu-area bg-color-black position-absolute">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 hamburger-menu position-relative">
                <div class="menu-logo-wrap">
                    <!-- <a href="index.html" class="d-none d-lg-block"><img src="{{'assets/images/logo-dark.svg" alt="Kompozith"></a>
                    <a href="index.html" class="d-none d-md-block d-lg-none"><img src="{{'assets/images/logo-dark.svg" width="60%" alt="Kompozith"></a>
                    <a href="index.html" class="d-block d-sm-none"><img src="{{'assets/images/favicon.svg" width="80px" alt="Kompozith"></a> -->
                    <a  [routerLink]="['/']"><img src="{{'assets/images/logo-dark.svg'}}" width="200px" alt="Kompozith"></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="nav-wrap d-flex justify-content-end align-items-center">
                    <div class="mainmenu text-right">
                        <ul>
                            
                            <li><a [routerLink]="['/']">Accueil</a></li>
                            <li><a [routerLink]="['/about-us']">À propos</a></li>
                            <li><a [routerLink]="['/services']">Services</a></li>
                            <li><a [routerLink]="['/contact']">Contact</a></li>
                            <li class="has-child-menu">
                                <a [routerLink]="['/']">
                                    Langue
                                    <i class="fa-regular fa-language ml-3"></i>
                                </a>
                                <ul>
                                    <li class="nav-item" (click)="useLanguage('fr')">
                                        <a >Français</a>
                                    </li>
                                    <li class="nav-item" (click)="useLanguage('en')">
                                        <a >English</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="menu-btn-wrap flex-shrink-0 d-lg-none pb-5">
                            <a class="common-btn white-border ms-3 mt-4" [routerLink]="['/order/flex']">
                                <span>
                                    Devis gratuit
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.6875 7.71875L8.6875 12.7188C8.3125 13.125 7.65625 13.125 7.28125 12.7188C6.875 12.3438 6.875 11.6875 7.28125 11.3125L10.5625 8H1C0.4375 8 0 7.5625 0 7C0 6.46875 0.4375 6 1 6H10.5625L7.28125 2.71875C6.875 2.34375 6.875 1.6875 7.28125 1.3125C7.65625 0.90625 8.3125 0.90625 8.6875 1.3125L13.6875 6.3125C14.0938 6.6875 14.0938 7.34375 13.6875 7.71875Z"
                                            fill="currentColor" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="menu-btn-wrap flex-shrink-0 d-none d-lg-block">
                        <a class="common-btn white-border" [routerLink]="['/order/flex']">
                            <span>
                                Devis gratuit
                                <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.6875 7.71875L8.6875 12.7188C8.3125 13.125 7.65625 13.125 7.28125 12.7188C6.875 12.3438 6.875 11.6875 7.28125 11.3125L10.5625 8H1C0.4375 8 0 7.5625 0 7C0 6.46875 0.4375 6 1 6H10.5625L7.28125 2.71875C6.875 2.34375 6.875 1.6875 7.28125 1.3125C7.65625 0.90625 8.3125 0.90625 8.6875 1.3125L13.6875 6.3125C14.0938 6.6875 14.0938 7.34375 13.6875 7.71875Z"
                                        fill="currentColor" />
                                </svg>

                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>