<div class="menu-area bg-color-black position-absolute">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 hamburger-menu position-relative">
        <div class="menu-logo-wrap">
          <a [routerLink]="['/']" class="d-none d-lg-block"><img src="{{'assets/images/logo-dark.svg'}}" width="150px"
              alt="Kompozith"></a>
          <a [routerLink]="['/']" class="d-none d-md-block d-lg-none"><img src="{{'assets/images/logo-dark.svg'}}"
              width="130px" alt="Kompozith"></a>
          <a [routerLink]="['/']" class="d-block d-sm-none"><img src="{{'assets/images/favicon.svg'}}" width="48px"
              alt="Kompozith"></a>
          <!-- <a  [routerLink]="['/']"><img src="{{'assets/images/logo-dark.svg'}}" width="150px" alt="Kompozith"></a> -->
        </div>
      </div>
      <div class="col-lg-9">
        <div class="nav-wrap d-flex justify-content-end align-items-center">
          <div class="mainmenu text-right">
            <ul>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/']"
                  *ngIf="'nav.text_1' | translate as translatedText">{{ translatedText || 'Home' }}</a></li>
              <li [routerLinkActive]="['active']"><a [routerLink]="['/about-us']"
                  *ngIf="'nav.text_2' | translate as translatedText">{{ translatedText || 'About Us' }}</a></li>
              <li [routerLinkActive]="['active']"><a [routerLink]="['/services']"
                  *ngIf="'nav.text_3' | translate as translatedText">{{ translatedText || 'Services' }}</a></li>
              <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']"
                  *ngIf="'nav.text_4' | translate as translatedText">{{ translatedText || 'Contact' }}</a></li>

              <li class="has-child-menu">
                <a [routerLink]="['/']"
                  *ngIf="'nav.text_5' | translate as translatedText">{{ translatedText || 'About Us' }}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <!-- <title>language-circle</title> -->
                    <g fill="none">
                      <path opacity=".4"
                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                        fill="#ffffff"></path>
                      <path
                        d="M17.0002 15.97C15.6902 15.97 14.4402 15.37 13.4402 14.26C14.4302 12.99 15.0702 11.42 15.2102 9.70004H16.9902C17.4002 9.70004 17.7402 9.36004 17.7402 8.95004C17.7402 8.54004 17.4002 8.20004 16.9902 8.20004H14.5602C14.5402 8.20004 14.5202 8.19003 14.5002 8.19003C14.4802 8.19003 14.4602 8.20004 14.4402 8.20004H12.7502V7.27002C12.7502 6.86002 12.4102 6.52002 12.0002 6.52002C11.5902 6.52002 11.2502 6.86002 11.2502 7.27002V8.20004H7.01025C6.60025 8.20004 6.26025 8.54004 6.26025 8.95004C6.26025 9.36004 6.60025 9.70004 7.01025 9.70004H12.0002H13.7003C13.3303 13.22 10.4702 15.97 6.99023 15.97C6.58023 15.97 6.24023 16.31 6.24023 16.72C6.24023 17.13 6.58023 17.47 6.99023 17.47C9.06023 17.47 10.9502 16.67 12.4002 15.36C13.6702 16.72 15.2802 17.47 16.9902 17.47C17.4002 17.47 17.7402 17.13 17.7402 16.72C17.7402 16.31 17.4102 15.97 17.0002 15.97Z"
                        fill="#ffffff"></path>
                    </g>
                  </svg>
                </a>
                <ul>
                  <li class="nav-item" (click)="useLanguage('fr')">
                    <span *ngIf="'nav.text_6' | translate as translatedText">{{ translatedText || 'Français' }}</span>
                  </li>
                  <li class="nav-item" (click)="useLanguage('en')">
                    <span *ngIf="'nav.text_7' | translate as translatedText">{{ translatedText || 'English' }}</span>
                  </li>
                </ul>
              </li>

            </ul>
            <div class="menu-btn-wrap flex-shrink-0 d-lg-none pb-5">
              <a class="common-btn white-border ms-3 mt-4" [routerLink]="['/order/flex']">
                <span>
                  {{ 'nav.text_8' | translate }}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>arrow-right</title>
                    <g fill="none">
                      <path d="M14.4297 5.92993L20.4997 11.9999L14.4297 18.0699" stroke="#ffffff" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11.0098 12H20.3298" stroke="#ffffff" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M3.5 12H6.97" stroke="#ffffff" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="menu-btn-wrap flex-shrink-0 d-none d-lg-block">
            <a class="common-btn white-border" [routerLink]="['/order/flex']">
              <span>
                {{ 'nav.text_8' | translate }}
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.6875 7.71875L8.6875 12.7188C8.3125 13.125 7.65625 13.125 7.28125 12.7188C6.875 12.3438 6.875 11.6875 7.28125 11.3125L10.5625 8H1C0.4375 8 0 7.5625 0 7C0 6.46875 0.4375 6 1 6H10.5625L7.28125 2.71875C6.875 2.34375 6.875 1.6875 7.28125 1.3125C7.65625 0.90625 8.3125 0.90625 8.6875 1.3125L13.6875 6.3125C14.0938 6.6875 14.0938 7.34375 13.6875 7.71875Z"
                    fill="currentColor" />
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
