<section class="about-area pt-120" id="explore">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6 col-xl-6 order-1 order-lg-0 mobt-35">
				<div class="section-title">
					<span>{{ 'home.about.about' | translate }}</span>
					<h2>{{ 'home.about.text_1' | translate }}</h2>
					<p class="text-semibold">
						{{ 'home.about.text_2' | translate }} <a href="#service">{{ 'home.about.text_3' | translate }}</a> {{ 'home.about.text_4' | translate }}
					</p>
				</div>
				<ul class="check-list mt-4">
					<li class="d-flex align-items-center fade_left">
						<p class="listing-box-subtitle">{{ 'home.about.text_5' | translate }}</p>
					</li>
					<li class="d-flex align-items-center fade_left">
						<p class="listing-box-subtitle">{{ 'home.about.text_6' | translate }}</p>
					</li>
					<li class="d-flex align-items-center fade_left">
						<p class="listing-box-subtitle">{{ 'home.about.text_7' | translate }}</p>
					</li>
					<li class="d-flex align-items-center fade_left">
						<p class="listing-box-subtitle">{{ 'home.about.text_5' | translate }}</p>
					</li>
				</ul>
			</div>
			<div class="col-lg-6 col-xl-5 order-0 order-lg-1 d-none d-md-block">
				<div class="position-relative z-index-one about-img-wrap-one">
					<img class="border-round w-100" src="{{'assets/images/about-s.png'}}" alt="">
					<!-- <img class="position-absolute about-top-one" src="{{'assets/images/shape/about-top-1.svg'}}" alt=""> -->
				</div>
			</div>
		</div>
	</div>
</section>
