<section class="history-area pt-120 pb-120 overflow-hidden">
	<div class="container-fluid">
		<div class="row align-items-center gx-lg-5">
			<div class="col-lg-6 ps-lg-0 ">
				<div class="history-img-wrap">
					<img class="w-100 image-scale anim-left" src="{{'assets/images/history-img.png'}}" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="history-info-wrap">
					<div class="section-title title-anim">
						<span>Épopée</span>
						<h2>De la passion naît l'innovation</h2>
						<p>À l'image d'un code astucieusement composé, notre agence façonne l'avenir. 
						Ensemble, convertissons des éléments composites en triomphes numériques.</p>
					</div>
					<div class="listing-box history-listing-box mt-4">
						<div class="fade_left">
							<div class="d-flex align-items-center">
								<div class="listing-box-icon-wrap2 text-light mr-5">
									<i class="fa-regular fa-lightbulb"></i>
								</div>
								<h2 class="listing-box-subtitle">Innovation Permanente</h2>
							</div>
						</div>
						<div class="listing-box-info">
							<p>Notre équipe, composée de jeunes talents passionnés et assidus, cultive quotidiennement des stratégies visant à demeurer 
							à la pointe des technologies.</p>
						</div>
						<div class="pt-3 fade_left">
							<div class="d-flex align-items-center">
								<div class="listing-box-icon-wrap2 text-light mr-5">
									<i class="fa-regular fa-handshake"></i>
								</div>
								<h2 class="listing-box-subtitle">Engagements formels</h2>
							</div>
						</div>
						<div class="listing-box-info">
							<p>Guidés par la passion et la compétence, nous relevons avec ardeur le défi de concrétiser les rêves de nos partenaires.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>