<section class="testimonial-area bg-color-of-white pt-120 testimonial-padding-bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9">
				<div class="section-title text-center title-anim">
					<span>Avis des clients</span>
					<h2>Comme eux, faites nous confiance</h2>
				</div>
			</div>
		</div>
		<div class="row mt-60">
			<div class="col-lg-12 fade_left">
                <swiper [config]="config">
                      <ng-template swiperSlide>
                        <div class="testimonial-box text-center">
                            <div class="testimonial-info-wrap">
                                <div class="testimonial-quote d-inline-block">
                                    <img src="{{'assets/images/testimonial/quote.svg'}}" alt="">
                                </div>
                                <p>Il y a de cela quelques mois qui vous avez fait ma carte de visite pour 
                                mon entreprise. Vous avez été à l’écoute et respecté les indications, 
                                vous nous avez d’ailleurs proposé plusieurs idées de logo (vous faites 
                                preuve de beaucoup d’imagination) qui nous ont énormément plu. 
                                Désormais je vous fait confiance et j’aime faire appel à vous 
                                pour des différents projets. Vous formez une superbe équipe.</p>
                                <h3>Agnès Endjilo</h3>
                            </div>
                            <img class="testimonial-author-img"
                                src="{{'assets/images/testimonial/agnes.png'}}" alt="">
                        </div>
                      </ng-template>
                      <ng-template swiperSlide>
                        <div class="testimonial-box text-center">
                            <div class="testimonial-info-wrap">
                                <div class="testimonial-quote d-inline-block">
                                    <img src="{{'assets/images/testimonial/quote.svg'}}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                                non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                <h3>Starlit shane</h3>
                            </div>
                            <img class="testimonial-author-img"
                                src="{{'assets/images/testimonial/testimonial-img-1.png'}}" alt="">
                        </div>
                      </ng-template>
                </swiper>
			</div>
		</div>
	</div>
</section>
